<div [formGroup]="parent">
  <div class="errors">
    <div *ngIf="required('firstName')">
      First name is required!
    </div>
    <div *ngIf="required('lastName')">
      Last name is required!
    </div>
    <div *ngIf="required('email')">
      Email is required!
    </div>
    <div *ngIf="required('password')">
      Password is required!
    </div>
    <div *ngIf="checkPassword()">
      <span>- at least 8 characters</span>
      <span>- must contain at<br> least 1 uppercase letter <br>, 1 lowercase letter,<br> and 1 number</span>
      <span>- Can contain special characters</span>
    </div>
  </div>
  <div formGroupName="stepOne">
    <div>
      <label for="firstName">First name</label>
      <input type="text" formControlName="firstName" id="firstName" placeholder="Enter your name">
    </div>
    <div>
      <label for="lastName">Second name</label>
      <input type="text" formControlName="lastName" id="lastName" placeholder="Enter your second name">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password" placeholder="Enter your password">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" formControlName="email" id="email" placeholder="Enter your email">
    </div>
    <div class="step-one__gender">
      <label for="male">Male</label>
      <input name="gender" type="radio" formControlName="gender" id="male" value="male">
      <label for="female">Female</label>
      <input name="gender" type="radio" formControlName="gender" id="female" value="female">
    </div>
    <div>
      <label for="isMarried">Are you married?</label>
      <input name="isMarried" formControlName="isMarried" id="isMarried" type="checkbox">
    </div>
    <div formGroupName="country">
      <label for="country">Select country</label>
      <select formControlName="selectedCountry" id="country">
        <option value="" selected hidden>Select country</option>
        <option [value]="country.value" *ngFor="let country of listOfCountries">{{country.name}}</option>
      </select>
    </div>
  </div>
</div>
