label {
  display: block;
  font-size: 14px;
  font-family: Arial;
  color: dimgrey;
  font-weight: bold;
  margin-bottom: 5px;
}

.errors {
  color: red;
}

input[type="text"], input[type="password"] {
  border: 1px solid lightgray;
  width: 100%;
  outline: none;
  height: 35px;
  padding: 5px 10px;
  box-sizing: border-box;
}


input[placeholder] {
  font-size: 10px;
}

div {
  margin-bottom: 5px;
}

.step-one__gender {

}

#male, #female {
  margin-left: 5px;
  margin-right: 10px;
}
